<div>
  <ul>
    <li><span>USD-AED: {{quotes.USDAED}}</span></li>
    <li><span>USD-AFN: {{quotes.USDAFN}}</span></li>
    <li><span>USD-ALL: {{quotes.USDALL}}</span></li>
    <li><span>USD-AMD: {{quotes.USDAMD}}</span></li>
    <li><span>USD-ANG: {{quotes.USDANG}}</span></li>
    <li><span>USD-AOA: {{quotes.USDAOA}}</span></li>
    <li><span>USD-ARS: {{quotes.USDARS}}</span></li>
    <li><span>USD-AUD: {{quotes.USDAUD}}</span></li>
    <li><span>USD-AWG: {{quotes.USDAWG}}</span></li>
    <li><span>USD-AZN: {{quotes.USDAZN}}</span></li>
    <li><span>USD-BAM: {{quotes.USDBAM}}</span></li>
    <li><span>USD-BBD: {{quotes.USDBBD}}</span></li>
    <li><span>USD-BDT: {{quotes.USDBDT}}</span></li>
    <li><span>USD-BGN: {{quotes.USDBGN}}</span></li>
    <li><span>USD-BHD: {{quotes.USDBHD}}</span></li>
    <li><span>USD-BIF: {{quotes.USDBIF}}</span></li>
    <li><span>USD-BMD: {{quotes.USDBMD}}</span></li>
    <li><span>USD-BND: {{quotes.USDBND}}</span></li>
    <li><span>USD-BOB: {{quotes.USDBOB}}</span></li>
    <li><span>USD-BRL: {{quotes.USDBRL}}</span></li>
    <li><span>USD-BSD: {{quotes.USDBSD}}</span></li>
    <li><span>USD-BTC: {{quotes.USDBTC}}</span></li>
    <li><span>USD-BTN: {{quotes.USDBTN}}</span></li>
    <li><span>USD-BWP: {{quotes.USDBWP}}</span></li>
    <li><span>USD-BYN: {{quotes.USDBYN}}</span></li>
    <li><span>USD-BYR: {{quotes.USDBYR}}</span></li>
    <li><span>USD-BZD: {{quotes.USDBZD}}</span></li>
    <li><span>USD-CAD: {{quotes.USDCAD}}</span></li>
    <li><span>USD-CDF: {{quotes.USDCDF}}</span></li>
    <li><span>USD-CHF: {{quotes.USDCHF}}</span></li>
    <li><span>USD-CLF: {{quotes.USDCLF}}</span></li>
    <li><span>USD-CLP: {{quotes.USDCLP}}</span></li>
    <li><span>USD-CNY: {{quotes.USDCNY}}</span></li>
    <li><span>USD-COP: {{quotes.USDCOP}}</span></li>
    <li><span>USD-CRC: {{quotes.USDCRC}}</span></li>
    <li><span>USD-CUC: {{quotes.USDCUC}}</span></li>
    <li><span>USD-CUP: {{quotes.USDCUP}}</span></li>
    <li><span>USD-CVE: {{quotes.USDCVE}}</span></li>
    <li><span>USD-CZK: {{quotes.USDCZK}}</span></li>
    <li><span>USD-DJF: {{quotes.USDDJF}}</span></li>
    <li><span>USD-DKK: {{quotes.USDDKK}}</span></li>
    <li><span>USD-DOP: {{quotes.USDDOP}}</span></li>
    <li><span>USD-DZD: {{quotes.USDDZD}}</span></li>
    <li><span>USD-EGP: {{quotes.USDEGP}}</span></li>
    <li><span>USD-ERN: {{quotes.USDERN}}</span></li>
    <li><span>USD-ETB: {{quotes.USDETB}}</span></li>
    <li><span>USD-EUR: {{quotes.USDEUR}}</span></li>
    <li><span>USD-FJD: {{quotes.USDFJD}}</span></li>
    <li><span>USD-FKP: {{quotes.USDFKP}}</span></li>
    <li><span>USD-GBP: {{quotes.USDGBP}}</span></li>
    <li><span>USD-GEL: {{quotes.USDGEL}}</span></li>
    <li><span>USD-GGP: {{quotes.USDGGP}}</span></li>
    <li><span>USD-GHS: {{quotes.USDGHS}}</span></li>
    <li><span>USD-GIP: {{quotes.USDGIP}}</span></li>
    <li><span>USD-GMD: {{quotes.USDGMD}}</span></li>
    <li><span>USD-GNF: {{quotes.USDGNF}}</span></li>
    <li><span>USD-GTQ: {{quotes.USDGTQ}}</span></li>
    <li><span>USD-GYD: {{quotes.USDGYD}}</span></li>
    <li><span>USD-HKD: {{quotes.USDHKD}}</span></li>
    <li><span>USD-HNL: {{quotes.USDHNL}}</span></li>
    <li><span>USD-HRK: {{quotes.USDHRK}}</span></li>
    <li><span>USD-HTG: {{quotes.USDHTG}}</span></li>
    <li><span>USD-HUF: {{quotes.USDHUF}}</span></li>
    <li><span>USD-IDR: {{quotes.USDIDR}}</span></li>
    <li><span>USD-ILS: {{quotes.USDILS}}</span></li>
    <li><span>USD-IMP: {{quotes.USDIMP}}</span></li>
    <li><span>USD-INR: {{quotes.USDINR}}</span></li>
    <li><span>USD-IQD: {{quotes.USDIQD}}</span></li>
    <li><span>USD-IRR: {{quotes.USDIRR}}</span></li>
    <li><span>USD-ISK: {{quotes.USDISK}}</span></li>
    <li><span>USD-JEP: {{quotes.USDJEP}}</span></li>
    <li><span>USD-JMD: {{quotes.USDJMD}}</span></li>
    <li><span>USD-JOD: {{quotes.USDJOD}}</span></li>
    <li><span>USD-JPY: {{quotes.USDJPY}}</span></li>
    <li><span>USD-KES: {{quotes.USDKES}}</span></li>
    <li><span>USD-KGS: {{quotes.USDKGS}}</span></li>
    <li><span>USD-KHR: {{quotes.USDKHR}}</span></li>
    <li><span>USD-KMF: {{quotes.USDKMF}}</span></li>
    <li><span>USD-KPW: {{quotes.USDKPW}}</span></li>
    <li><span>USD-KRW: {{quotes.USDKRW}}</span></li>
    <li><span>USD-KWD: {{quotes.USDKWD}}</span></li>
    <li><span>USD-KYD: {{quotes.USDKYD}}</span></li>
    <li><span>USD-KZT: {{quotes.USDKZT}}</span></li>
    <li><span>USD-LAK: {{quotes.USDLAK}}</span></li>
    <li><span>USD-LBP: {{quotes.USDLBP}}</span></li>
    <li><span>USD-LKR: {{quotes.USDLKR}}</span></li>
    <li><span>USD-LRD: {{quotes.USDLRD}}</span></li>
    <li><span>USD-LSL: {{quotes.USDLSL}}</span></li>
    <li><span>USD-LTL: {{quotes.USDLTL}}</span></li>
    <li><span>USD-LVL: {{quotes.USDLVL}}</span></li>
    <li><span>USD-LYD: {{quotes.USDLYD}}</span></li>
    <li><span>USD-MAD: {{quotes.USDMAD}}</span></li>
    <li><span>USD-MDL: {{quotes.USDMDL}}</span></li>
    <li><span>USD-MGA: {{quotes.USDMGA}}</span></li>
    <li><span>USD-MKD: {{quotes.USDMKD}}</span></li>
    <li><span>USD-MMK: {{quotes.USDMMK}}</span></li>
    <li><span>USD-MNT: {{quotes.USDMNT}}</span></li>
    <li><span>USD-MOP: {{quotes.USDMOP}}</span></li>
    <li><span>USD-MRO: {{quotes.USDMRO}}</span></li>
    <li><span>USD-MUR: {{quotes.USDMUR}}</span></li>
    <li><span>USD-MVR: {{quotes.USDMVR}}</span></li>
    <li><span>USD-MWK: {{quotes.USDMWK}}</span></li>
    <li><span>USD-MXN: {{quotes.USDMXN}}</span></li>
    <li><span>USD-MYR: {{quotes.USDMYR}}</span></li>
    <li><span>USD-MZN: {{quotes.USDMZN}}</span></li>
    <li><span>USD-NAD: {{quotes.USDNAD}}</span></li>
    <li><span>USD-NGN: {{quotes.USDNGN}}</span></li>
    <li><span>USD-NIO: {{quotes.USDNIO}}</span></li>
    <li><span>USD-NOK: {{quotes.USDNOK}}</span></li>
    <li><span>USD-NPR: {{quotes.USDNPR}}</span></li>
    <li><span>USD-NZD: {{quotes.USDNZD}}</span></li>
    <li><span>USD-OMR: {{quotes.USDOMR}}</span></li>
    <li><span>USD-PAB: {{quotes.USDPAB}}</span></li>
    <li><span>USD-PEN: {{quotes.USDPEN}}</span></li>
    <li><span>USD-PGK: {{quotes.USDPGK}}</span></li>
    <li><span>USD-PHP: {{quotes.USDPHP}}</span></li>
    <li><span>USD-PKR: {{quotes.USDPKR}}</span></li>
    <li><span>USD-PLN: {{quotes.USDPLN}}</span></li>
    <li><span>USD-PYG: {{quotes.USDPYG}}</span></li>
    <li><span>USD-QAR: {{quotes.USDQAR}}</span></li>
    <li><span>USD-RON: {{quotes.USDRON}}</span></li>
    <li><span>USD-RSD: {{quotes.USDRSD}}</span></li>
    <li><span>USD-RUB: {{quotes.USDRUB}}</span></li>
    <li><span>USD-RWF: {{quotes.USDRWF}}</span></li>
    <li><span>USD-SAR: {{quotes.USDSAR}}</span></li>
    <li><span>USD-SBD: {{quotes.USDSBD}}</span></li>
    <li><span>USD-SCR: {{quotes.USDSCR}}</span></li>
    <li><span>USD-SDG: {{quotes.USDSDG}}</span></li>
    <li><span>USD-SEK: {{quotes.USDSEK}}</span></li>
    <li><span>USD-SGD: {{quotes.USDSGD}}</span></li>
    <li><span>USD-SHP: {{quotes.USDSHP}}</span></li>
    <li><span>USD-SLL: {{quotes.USDSLL}}</span></li>
    <li><span>USD-SOS: {{quotes.USDSOS}}</span></li>
    <li><span>USD-SRD: {{quotes.USDSRD}}</span></li>
    <li><span>USD-STD: {{quotes.USDSTD}}</span></li>
    <li><span>USD-SVC: {{quotes.USDSVC}}</span></li>
    <li><span>USD-SYP: {{quotes.USDSYP}}</span></li>
    <li><span>USD-SZL: {{quotes.USDSZL}}</span></li>
    <li><span>USD-THB: {{quotes.USDTHB}}</span></li>
    <li><span>USD-TJS: {{quotes.USDTJS}}</span></li>
    <li><span>USD-TMT: {{quotes.USDTMT}}</span></li>
    <li><span>USD-TND: {{quotes.USDTND}}</span></li>
    <li><span>USD-TOP: {{quotes.USDTOP}}</span></li>
    <li><span>USD-TRY: {{quotes.USDTRY}}</span></li>
    <li><span>USD-TTD: {{quotes.USDTTD}}</span></li>
    <li><span>USD-TWD: {{quotes.USDTWD}}</span></li>
    <li><span>USD-TZS: {{quotes.USDTZS}}</span></li>
    <li><span>USD-UAH: {{quotes.USDUAH}}</span></li>
    <li><span>USD-UGX: {{quotes.USDUGX}}</span></li>
    <li><span>USD-USD: {{quotes.USDUSD}}</span></li>
    <li><span>USD-UYU: {{quotes.USDUYU}}</span></li>
    <li><span>USD-UZS: {{quotes.USDUZS}}</span></li>
    <li><span>USD-VEF: {{quotes.USDVEF}}</span></li>
    <li><span>USD-VND: {{quotes.USDVND}}</span></li>
    <li><span>USD-VUV: {{quotes.USDVUV}}</span></li>
    <li><span>USD-WST: {{quotes.USDWST}}</span></li>
    <li><span>USD-XAF: {{quotes.USDXAF}}</span></li>
    <li><span>USD-XAG: {{quotes.USDXAG}}</span></li>
    <li><span>USD-XAU: {{quotes.USDXAU}}</span></li>
    <li><span>USD-XCD: {{quotes.USDXCD}}</span></li>
    <li><span>USD-XDR: {{quotes.USDXDR}}</span></li>
    <li><span>USD-XOF: {{quotes.USDXOF}}</span></li>
    <li><span>USD-XPF: {{quotes.USDXPF}}</span></li>
    <li><span>USD-YER: {{quotes.USDYER}}</span></li>
    <li><span>USD-ZAR: {{quotes.USDZAR}}</span></li>
    <li><span>USD-ZMK: {{quotes.USDZMK}}</span></li>
    <li><span>USD-ZMW: {{quotes.USDZMW}}</span></li>
    <li><span>USD-ZWL: {{quotes.USDZWL}}</span></li>
  </ul>
</div>
