<h1>Client details</h1>

<main>
  <p>Wechat ID: {{clients.wechatId}}</p>
  <p>Total amount: {{clients.totalAmount}}</p>
  <p>Currency: {{clients.currency}}</p>
  <p>Status: {{clients.status}}</p>
  <p>Trade Date: {{clients.tradeDate}}</p>
</main>
